body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "header header header"
    "mainleft mainright aside"
    "mainleft mainright aside"
    "footer footer aside";
}

li,
p {
  margin-left: 10px;
}

#green {
  grid-area: header;
}

#yellow {
  grid-area: mainleft;
}

#red {
  grid-area: mainright;
}

#blue {
  grid-area: aside;
}

#orange {
  grid-area: footer;
}

/* *** INTERNAL BLOCKS *** */

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
